.container {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
}

.sidebar {
    border-right: 1px solid #e7e7e7;
    background-color: #fcfcfc;
}

.main {
    padding: 40px;
}